.livrosintro-wrapper {
  width: 100%;
  max-width: 1240px;
  margin: .5rem auto;
  padding: .5rem 0 2rem;
  display: grid;
  grid-template-columns: 20% auto;
  .livrosintro-left {
    margin-right: 0;
    padding: 1rem;
    border-radius: 4px;
    background-color: #224997;
    color: whitesmoke;
    span.livrosintro-description {
      font-size: 1.2rem;
      line-height: 1;
    }
    div.livrosintro-collections {
      margin-top: 2rem;
      ul.livrosintro-collections-list {
        li {
          font-size: 1.1rem;
          line-height: 1.1;
        }
      }
    }
    .livrosintro-filter {
      margin-top: 2rem;
      .livrosintro-filter-list {
        li {
          text-transform: uppercase;
          background-color: white;
          color: #00091b;
          text-align: center;
          padding: .25rem;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
  .livrosintro-content {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin: 0 1rem 1.5rem;
        width: 200px;
      }
    }
  }
}

/* Responsividade */
@media only screen and (max-width: 420px) {
  .livrosintro-wrapper {
    .livrosintro-left {
      span.livrosintro-description {}
      div.livrosintro-collections {
        ul.livrosintro-collections-list {
          li {}
        }
      }
      .livrosintro-filter {
        .livrosintro-filter-list {
          li {}
        }
      }
    }
    .livrosintro-content {
      ul {
        li {}
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .livrosintro-wrapper {
    .livrosintro-left {
      span.livrosintro-description {}
      div.livrosintro-collections {
        ul.livrosintro-collections-list {
          li {}
        }
      }
      .livrosintro-filter {
        .livrosintro-filter-list {
          li {}
        }
      }
    }
    .livrosintro-content {
      ul {
        li {}
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .livrosintro-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .livrosintro-left {
      span.livrosintro-description {}
      div.livrosintro-collections {
        ul.livrosintro-collections-list {
          li {}
        }
      }
      .livrosintro-filter {
        .livrosintro-filter-list {
          li {}
        }
      }
    }
    .livrosintro-content {
      ul {
        li {
          width: 85%;
          margin: 0 auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .livrosintro-wrapper {
    .livrosintro-left {
      span.livrosintro-description {}
      div.livrosintro-collections {
        ul.livrosintro-collections-list {
          li {}
        }
      }
      .livrosintro-filter {
        .livrosintro-filter-list {
          li {}
        }
      }
    }
    .livrosintro-content {
      ul {
        li {}
      }
    }
  }
}
@media only screen and (max-width: 1260px) {
  .livrosintro-wrapper {
    .livrosintro-left {
      span.livrosintro-description {}
      div.livrosintro-collections {
        ul.livrosintro-collections-list {
          li {}
        }
      }
      .livrosintro-filter {
        .livrosintro-filter-list {
          li {}
        }
      }
    }
    .livrosintro-content {
      ul {
        li {}
      }
    }
  }
}
/* End Responsividade */