.dicionarioWrapper {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  padding: 0 0 2rem;
  max-height: 45vh;
  height: 100%;
  // background-color: #020329;
  .dicionarioList {
    height: 100%;
    ul {
      direction: rtl;
      height: 45vh;
      max-height: 45vh;
      overflow-y: scroll;

      /* width */
      &::-webkit-scrollbar {
        width: 11px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #eaddb4;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #FFC107;
      }

      li {
        text-align: center;
        &.active {

        }
      }
    }
  }
  .dicionarioDefinicao {
    height: 42vh;
    max-height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .definicaoTop {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: .75rem;
        line-height: 1.1;
        &.mainInfo {
          font-size: 1.4rem;
        }
        &.secondaryInfo {
          font-size: 1.1rem;
          color: grey;
        }
      }

    }
    .definicaoLinks {
      display: flex;
      flex-direction: column;
      button {

      }
    }
  }
}
